body {

	margin: 0;
	padding: 0;
	background: #fdfdfd;
	font-family: sans-serif;

}

header {

	background: #f3f3f3;
	height: 150px;
	margin-bottom: 30px;
}

nav {

	margin: 33px 0 0;
	padding: 30px;
	float: right;

}

nav ul {

	list-style-type: none;
	margin: 0;
	padding: 0;

}

nav ul li {

	float: left;

}

article	{

	margin: 0 0 30px 3.3%;
	float: left;
	background: url(http://placekitten.com/600/500) #c1c1c1;
	width: 45%;
	height: 250px;
}

h1 {

	font-size: 39px;
	margin: 0;
	padding: 45px 30px 0;
	color: #999;
	float: left;

}

h2 {

	font-size: 21px;
	margin: 0;
	padding: 15px;
	color: white;

}

nav ul li a {

	color: #999;
	text-decoration: none;
	margin: 0;
	padding: 15px;

}
