body {

	margin: 0;
	padding: 0;
	background: #fdfdfd;
	font-family: sans-serif;

}

header {

	background: #f3f3f3;
	height: 150px;
	margin-bottom: 30px;
}

nav {

	margin: 33px 0 0;
	padding: 30px;
	float: right;

}

nav ul {

	list-style-type: none;
	margin: 0;
	padding: 0;

}

nav ul li {

	float: left;

}

article	{

	margin: 0 0 30px 3.3%;
	float: left;
	background: url(http://placekitten.com/600/500) #c1c1c1;
	width: 45%;
	height: 250px;
}

h1 {

	font-size: 39px;
	margin: 0;
	padding: 45px 30px 0;
	color: #999;
	float: left;

}

h2 {

	font-size: 21px;
	margin: 0;
	padding: 15px;
	color: white;

}

nav ul li a {

	color: #999;
	text-decoration: none;
	margin: 0;
	padding: 15px;

}

article a {

	display: block;
	height: 250px;
	text-decoration: none;

}

article span.progress {

	width: 150px;
	height: 10px;
	border: 1px solid #fff;
	float: right;
	margin: 174px 20px 0 0;

}

.detailedgame { width: 75%; margin: 0 10%; background: #f1f1f1; padding: 20px; height: auto; }
.detailedgame h2 { margin: 0; padding: 0; color:  #565656; font-size: 48px; }

.detailedgame .images { float: right;  }
.detailedgame .images img { margin-left: 20px; }

.detailedgame p { font-size: 21px; }

.detailedgame .avatar { border: 4px solid black; background-color: #888; display: inline-block; width: 64px; height: 64px; }

.detailedgame a { height: auto; display: inline; }
